# EditorConfig helps maintain consistent coding styles
root = true

########################
# Global Defaults
########################
[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

########################
# Makefiles
########################
[Makefile]
indent_style = tab
indent_size = 4

[*.mk]
indent_style = tab
indent_size = 4

########################
# C and C++
########################
[*.c]
indent_style = space
indent_size = 4

[*.cpp]
indent_style = space
indent_size = 4

[*.h]
indent_style = space
indent_size = 4

[*.hpp]
indent_style = space
indent_size = 4

########################
# Dockerfiles
########################
[Dockerfile]
indent_style = space
indent_size = 2

[*.Dockerfile]
indent_style = space
indent_size = 2

########################
# YAML (YAML, GitLab CI, Docker Compose, etc.)
########################
[*.yml]
indent_style = space
indent_size = 2

[*.yaml]
indent_style = space
indent_size = 2

########################
# Markdowwn
########################
[*.md]
indent_style = space
indent_size = 2
